<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  <meta name="Author" content="the grml team [www.grml.org/team/]">
  <meta name="Robots" content="index,follow">
  <meta name="Language" content="english">
  <link rel="icon" href="/favicon.png" type="image/png">
  {{ partialCached "head/css.html" . }}
  {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{- end }}
</head>
<body>
  <div class="container">
    <header>
      {{ partial "header.html" . }}
    </header>
    <div class="mainandnav">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <aside>
        <h2>Archives</h2>
        {{ partial "menu.html" (dict "menuID" "archives" "page" .) }}

        <h2>Categories</h2>
        {{ partial "menu.html" (dict "menuID" "categories" "page" .) }}

        <h2>Subscribe</h2>
        <nav>
          {{ with .OutputFormats.Get "RSS" -}}
            <a href="{{ .Permalink | safeHTML }}"
              onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this); return false;"
              value="Subscribe"
              data-subtome-feeds="{{ .Permalink | safeHTML }}">
              <img src="https://blog.grml.org/templates/2k11/img/subtome.png" alt="XML" style="border: 0px">
            </a>
          {{- end }}
        </nav>
      </aside>
    </div>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
