{{ define "main" }}
  <section>
    {{ range (where .Site.RegularPages "Section" .Params.archive_page_type).GroupByDate "2006" }}
      <h1>{{ .Key }}</h1>
      <ul>
        {{ range .Pages }}
          {{ if (ne .Params.hidden true) }}
            <li>
              <span>{{ .Date.Format "Jan 02" }}</span> &mdash;
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
